*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
.idea/codeStyles/
/build
/app/build
/.artifacts
capture.png
*.zip
gradle_extracted/
.antigravity/
.gemini/
.agents/
.skills/
